<header class="navbar">
  <div class="navbar-brand">
    <a routerLink="/catalog" class="logo">
      <span class="name">{{ shopName }}</span>
    </a>
  </div>

  <nav class="nav-links">
    <a *ngIf="userRole === 'Member'" routerLink="/catalog" routerLinkActive="active" class="nav-item">
      <span>Catalogue</span>
    </a>
    <a routerLink="/home" class="nav-item" *ngIf="userRole === 'Admin'" routerLinkActive="active">
       <span>Accueil</span>
      </a>
  </nav>

  <div class="user-actions">
    <ng-container *ngIf="userService.isAuthenticated()">
      <div class="welcome">
        Bienvenue, {{userName}}
      </div>

      <a routerLink="/cart" class="btn cart-btn" *ngIf="userRole === 'Member'">
        <span class="badge" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
        Panier
      </a>

      <a routerLink="/users" class="btn cart-btn" *ngIf="userRole === 'Admin'" routerLinkActive="active">
       Liste des utilisateurs
      </a>
      <a routerLink="/products" class="btn cart-btn" *ngIf="userRole === 'Admin'" routerLinkActive="active">
       Liste des produits
      </a>

      <a routerLink="/my-orders" class="btn cart-btn" *ngIf="userRole === 'Member'" routerLinkActive="active">
        Mes Commandes
      </a>

      <button (click)="userService.signOut()" class="btn logout-btn">Déconnexion</button>
    </ng-container>
  </div>
</header>
