<div class="user-list-container">
    <button (click)="goBack()" class="back-button">← Retour</button>
  <h2>Liste des Utilisateurs</h2>
  
  <button (click)="refresh()" class="refresh-btn">
    Rafraîchir la liste
  </button>
  <button (click)="addUser()" class="add-btn">Ajouter un utilisateur</button>

  <div *ngIf="isLoading" class="loading">Chargement en cours...</div>
  
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <table *ngIf="!isLoading && !errorMessage" class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Âge</th>
        <th>Type</th>
         <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.userId }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.userType }}</td>
        <td>
          <button (click)="editUser(user.userId)" class="edit-btn">Modifier</button>
          <button (click)="deleteUser(user.userId)" class="delete-btn">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>